.profile{
	display: flex;
	margin-top: 10px;
}
.info{
	font-size: 22px;
	margin-left: 20px;
	font-family: "Times New Roman";
	letter-spacing: .05em;
}
.student *, .teacher *, .admin *{
	padding: 5px;
}
.name{
	font-weight: 700;
	font-size: 26px;
	font-family: sans-serif;
	padding: 10px 0 20px;
	letter-spacing: 0;
}
.status{
	padding: 5px;
}
.avatar{
	height: 256px;
	width: 256px;
}
.avatar img{
	height: 100%;
	width: 100%;
}
.teacher div span, .student div span{
	color: #e90f0e;
	letter-spacing: 0;
}